Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Domain/bin/Debug/Domain.dll
Domain/bin/Debug/Domain.dll.config
Domain/bin/Debug/Domain.pdb
Domain/bin/Debug/EntityFramework.dll
Domain/bin/Debug/EntityFramework.xml
Domain/Domain.csproj
Domain/obj/Debug/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/Domain.csprojResolveAssemblyReference.cache
Domain/obj/Debug/Domain.dll
Domain/obj/Debug/Domain.pdb
Domain/packages.config
Ripper.v11.suo
WebUI/bin/Domain.dll
WebUI/bin/Domain.pdb
WebUI/bin/WebUI.dll
WebUI/bin/WebUI.pdb
WebUI/obj/Debug/WebUI.csprojResolveAssemblyReference.cache
WebUI/obj/Debug/WebUI.dll
WebUI/obj/Debug/WebUI.pdb
